.meetingTable {
 
}

.meetingRows {
    margin-left: 18%;
    padding: 1%;
}

.meetingLabels {
    margin-right: 1%;
    padding: 1%;
}
.meetingPoint {
  
}

.meetingShortDesc {

}

.meetingVotes {

}
    
